/* exercise4 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-self: center;
}

.slide-container {
  display: flex;
  position: relative;
  height: 400px;
  border: 2px solid #ebe9f9;
  padding: 15px;
  min-width: 500px;
}

.slide-container .slides {
  border: 2px solid #ebe9f9;
  border-right: 0px;
  overflow: hidden;
  position: relative;
}

.slide-container .slides .slide .carousel-opacity {
  min-width: 100%;
}

.slide-container .slides .slide .carousel-opacity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons .next,
.buttons .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  display: none;
  color: orangered;
  border: 2px solid white;
  padding: 0 12px;
  border-radius: 20px;
  transition: 0.5s;
}

.buttons .next {
  right: 20px;
}

.buttons .prev {
  left: 20px;
}

.dotsContainer {
  z-index: 3;
  border: 2px solid #ebe9f9;
  border-left: 0px;
}

.dotsContainer .dot {
  padding: 9px;
  height: 72.8px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #ebe9f9;
  transition: background-color 0.6s ease;
  overflow: hidden;
}

.dotsContainer .dot:last-child {
  border-bottom: 0px;
}

.dotsContainer .active {
  background-color: #e5e5e5;
}

@keyframes next1 {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

.carousel-button {
  border: none;
  color: white;
  background-color: green;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 22px;
}

.carousel-opacity .carousel-content {
  background-color: hsla(0, 0%, 0%, 0.471);
  text-align: left;
  width: 100%;
  padding: 15px;
  color: white;
  height: 130px;
  bottom: 0;
  position: absolute;
}

.carousel-content p {
  margin: 0;
}

.slides .slide {
  display: flex;
  width: 100%;
  height: 100%;
}
/* end exercise4 */